<launch>

  <param name="root_frame" type="str" value="base_link"/>
  <param name="manip_frame" type="str" value="r_gripper_tool_frame"/>

  <node name="Table_Setting" pkg="table_setting_demo" type="table_setting_demo" output="screen">
    <rosparam file="$(find table_setting_demo)/params/NodeDescription.yaml"/>
  </node>
</launch>